{% extends 'base.html' %}
{% load livro_extras %}

{% block 'titulo' %}Home{% endblock %}

{% block 'conteudo' %}
	
	<div class="container">

		{% if status == '1' %}
			<br>
			<div class="alert alert-primary" role="alert">
  				Livro cadastrado com sucesso
			</div>
		{% elif status == '2' %}
			<br>
			<div class="alert alert-warning" role="alert">
				O nome da categoria não pode conter mais de 250 caracteres
			</div>
		{% elif status == '3' %}
			<br>
			<div class="alert alert-warning" role="alert">
				É obrigatório digitar o nome da categoria
			</div>
		{% elif status == '4' %}
			<br>
			<div class="alert alert-primary" role="alert">
				Categoria cadastrada com sucesso
			</div>
		{% elif status == '5' %}
			<br>
			<div class="alert alert-primary" role="alert">
				Livro deletado com sucesso
			</div>
		{% endif %}

		{% for livro in livros %}
				<br>
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">{{ livro }}</h5>
			    		<h6 class="card-subtitle mb-2 text-muted">Autor: {{ livro.autor }}</h6>
			    		<p class="card-text">
			    			{% if livro.emprestado %}
			    				Emprestado 
			    				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
			    					<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
								</svg>
								<br>
								{% for empr in emprestimos %}
									{% if empr.ativo and empr.livro_emprestado.id == livro.id %}
										{{ empr.data_emprestimo|duracao_emprestimo_hoje }} dias
									{% endif %}
								{% endfor %}
							{% else %}
								Não está emprestrado 
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
  									<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
								</svg>
							{% endif %}
			    		</p>
			    		<a href="{% url 'livro' livro.id %}" class="btn btn-primary">Acessar livro</a>
					</div>
				</div>
		{% endfor %}
	</div>

{% endblock %}