{% extends 'base.html' %}
{% load livro_extras %}

{% block 'titulo' %}{{ livro }}{% endblock %}

{% block 'conteudo' %}
	
	<div class="container">
		<br>

		{% if status == '1' %}
			<div class="alert alert-warning" role="alert">
  				O tamanho máximo do título do livro é 250 caracteres
			</div>
		{% elif status == '2' %}
			<div class="alert alert-warning" role="alert">
  				O tamanho máximo para o nome do autor e do co-autor é 250 caracteres
			</div>
		{% elif status == '3' %}
			<div class="alert alert-warning" role="alert">
				Cada livro precisa de pelo menos um nome e um autor
			</div>
		{% endif %}

		<h1>Modifique os dados do livro</h1>
		<hr>
		<form action="{% url 'livro' livro.id %}" method="POST">
			{% csrf_token %}
			<div class="mb-3">
				<label class="form-label">Livro</label>
				<input type="text" name="nome_livro" value="{{ livro.nome }}" class="form-control" required>
			</div>

			<div class="mb-3">
				<label class="form-label">Autor</label>
				<input type="text" name="autor_livro" value="{{ livro.autor }}" class="form-control" required>
			</div>

			<div class="mb-3">
				<label class="form-label">Co-autor</label>
				{% if livro.co_autor == None %}
					<input type="text" name="co_autor" class="form-control">
				{% else %}
					<input type="text" name="co_autor" value="{{ livro.co_autor }}" class="form-control">
				{% endif %}
			</div>

			<div class="mb-3">
				<label class="form-label">Categoria</label>
				<select class="form-select" aria-label="Default select example" name="categoria" required>
					{% for cat in categorias %}
						{% if cat == livro.categoria %}
							<option selected>{{ cat }}</option>
						{% else %}
							<option>{{ cat }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			<button type="submit" class="btn btn-success">Salvar</button>
			<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
			  Excluir
			</button>

		</form>
		<br>
		<h2>Histórico de empréstimos</h2>
		<hr>

		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Nome</th>
		      <th scope="col">Data do empréstimo</th>
		      <th scope="col">Data de devolução</th>
		      <th scope="col">Duração do empréstimo</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for emprestimo in emprestimos %}
		  		<tr>
		  			<th scope="row">{{ emprestimo.nome_emprestado }}</th>
		  			<th>{{ emprestimo.data_emprestimo }}</th>
		  			{% if emprestimo.data_devolucao == None %}
		  				<th>-</th>
		  				<th>-</th>
		  			{% else %}
		  				<th>{{ emprestimo.data_devolucao }}</th>
		  				<th>{{ emprestimo.data_devolucao|duracao_emprestimo:emprestimo.data_emprestimo }} dias</th>
		  			{% endif %}
		  		</tr>
		  	{% endfor %}
		  </tbody>
		</table>
		
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir livro</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        Você tem certeza que deseja excluir este livro?
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
	        <a href="{% url 'deletar_livro' livro.id %}" class="btn btn-danger">Excluir</a>
	      </div>
	    </div>
	  </div>
	</div>


{% endblock %}